(file_server_config) {
    encode gzip
    file_server
}


{$CADDY_HOST_BACKEND} {
    encode gzip zstd
    root * /assets/backend/

    request_body {
        max_size 10MB
    }

    @isStatic {
        path /static/* /media/*
    }
    @notStatic {
        not path /static/* /media/*
    }
    reverse_proxy @notStatic web:80 {
        header_up X-Forwarded-Proto https
    }
    file_server

    header @isStatic {
        Access-Control-Allow-Origin "*"
        Access-Control-Request-Methods "GET"
        Access-Control-Allow-Headers Content-Type
    }
}



{$CADDY_HOST_MANAGER_DASHBOARD} {
    handle {
        try_files {path} /index.html
        root * /assets/manager-dashboard
        import file_server_config
    }
}


{$CADDY_HOST_COMMUNITY_DASHBOARD} {
    handle {
        try_files {path} /index.html
        root * /assets/community-dashboard
        import file_server_config
    }
}
